<div style="margin-left:100px; padding-top:40px;">
<h4> This artist {{model.artists.name}} has {{model.songs.length}} songs</h4>
{{#each model.songs as |song|}}
  {{#song-item song = song}}{{/song-item}}
{{/each}}
</div>
{{outlet}}